In [1]:
import matplotlib.pyplot as plt
import numpy as np
import scipy
import pandas as pd

In [2]:
mdata= pd.read_csv('C:/Users/amatu/Documents/train_imperson_without4n7_balanced_data.csv')

In [3]:
mdata.head()

,1,2,3,5,6,8,9,10,11,12,...,146,147,148,149,150,151,152,153,154,155
0,0,0,0,0.000066,0.000066,0.009150,0.009150,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
1,0,0,0,0.000014,0.000014,0.000000,0.000000,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
2,0,0,0,0.035528,0.035528,0.070588,0.070588,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
3,0,0,0,0.005128,0.005128,0.094771,0.094771,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0
4,0,0,0,0.035116,0.035116,0.070588,0.070588,0,0,0,...,0.0,0,0,0,0,0,0,0,0.0,0

In [3]:
#separate X and Y

X, Y = mdata.loc[:, mdata.columns != '155'], mdata['155']

In [10]:
X.head()

,1,2,3,5,6,8,9,10,11,12,...,145,146,147,148,149,150,151,152,153,154
0,0,0,0,0.000066,0.000066,0.009150,0.009150,0,0,0,...,0.0,0.0,0,0,0,0,0,0,0,0.0
1,0,0,0,0.000014,0.000014,0.000000,0.000000,0,0,0,...,0.0,0.0,0,0,0,0,0,0,0,0.0
2,0,0,0,0.035528,0.035528,0.070588,0.070588,0,0,0,...,0.0,0.0,0,0,0,0,0,0,0,0.0
3,0,0,0,0.005128,0.005128,0.094771,0.094771,0,0,0,...,0.0,0.0,0,0,0,0,0,0,0,0.0
4,0,0,0,0.035116,0.035116,0.070588,0.070588,0,0,0,...,0.0,0.0,0,0,0,0,0,0,0,0.0

In [5]:
#eliminate features with 0 standard deviation
#Xselected with 0 var taken out

from sklearn.feature_selection import VarianceThreshold




selector = VarianceThreshold()

selector.fit(X)
col = X.columns[selector.get_support()]
Xselected= X.loc[:, col ]

In [6]:
Xselected.head()

,5,6,8,9,14,15,16,18,20,26,...,133,138,140,141,142,143,144,145,146,154
0,0.000066,0.000066,0.009150,0.009150,1,1,1,1,1,1,...,0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000014,0.000014,0.000000,0.000000,1,1,1,1,1,1,...,0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.035528,0.035528,0.070588,0.070588,1,1,1,1,1,1,...,0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.005128,0.005128,0.094771,0.094771,1,1,1,1,1,1,...,0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.035116,0.035116,0.070588,0.070588,1,1,1,1,1,1,...,0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
Xselected.shape

(97044, 78)

In [8]:
#Normalizer transform norm 1

from sklearn.preprocessing import Normalizer

scaler = Normalizer().fit(Xselected)
normalizedX2 = scaler.transform(Xselected)

In [9]:
#normalised range 0 1


from sklearn.preprocessing import MinMaxScaler



scaler1 = MinMaxScaler().fit(Xselected)
scaled0_1=scaler1.transform(Xselected)

In [11]:
#Power and quantile transform. THe latter distorts correlation, hence try the former

from sklearn.preprocessing import PowerTransformer

pt = PowerTransformer(method = 'yeo-johnson').fit(Xselected)
poweredX2 = pt.transform(Xselected)

C:\Users\amatu\Anaconda3\lib\site-packages\numpy\core\_methods.py:121: RuntimeWarning: overflow encountered in multiply
  x = um.multiply(x, x, out=x)
C:\Users\amatu\Anaconda3\lib\site-packages\numpy\core\_methods.py:122: RuntimeWarning: overflow encountered in reduce
  ret = umr_sum(x, axis, dtype, out, keepdims)

In [12]:
#datframe wiht norm 1

NX2df = pd.DataFrame(normalizedX2, columns = Xselected.columns)

NX2df.head()

,5,6,8,9,14,15,16,18,20,26,...,133,138,140,141,142,143,144,145,146,154
0,0.000015,0.000015,0.002125,0.002125,0.232240,0.232240,0.232240,0.232240,0.232240,0.232240,...,0.0,0.116120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000004,0.000004,0.000000,0.000000,0.252240,0.252240,0.252240,0.252240,0.252240,0.252240,...,0.0,0.126120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.008282,0.008282,0.016454,0.016454,0.233105,0.233105,0.233105,0.233105,0.233105,0.233105,...,0.0,0.116553,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.001145,0.001145,0.021168,0.021168,0.223356,0.223356,0.223356,0.223356,0.223356,0.223356,...,0.0,0.111678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.008178,0.008178,0.016439,0.016439,0.232884,0.232884,0.232884,0.232884,0.232884,0.232884,...,0.0,0.116442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
#dataframe powered gaussian 

PX2df = pd.DataFrame(poweredX2, columns= Xselected.columns)

PX2df.head()

,5,6,8,9,14,15,16,18,20,26,...,133,138,140,141,142,143,144,145,146,154
0,-1.527311,-1.527311,-0.883721,-0.883721,0.014712,0.014712,0.014712,0.014712,0.014712,0.014712,...,-0.00321,0.0,-1.151287,-0.105837,-1.165737,-0.105657,-0.028724,-0.45347,-0.45347,-0.788655
1,-1.553062,-1.553062,-1.090489,-1.090489,0.014712,0.014712,0.014712,0.014712,0.014712,0.014712,...,-0.00321,0.0,-1.151287,-0.105837,-1.165737,-0.105657,-0.028724,-0.45347,-0.45347,-0.788655
2,2.623799,2.623799,0.166931,0.166931,0.014712,0.014712,0.014712,0.014712,0.014712,0.014712,...,-0.00321,0.0,-1.151287,-0.105837,-1.165737,-0.105657,-0.028724,-0.45347,-0.45347,-0.788655
3,0.371013,0.371013,0.458800,0.458800,0.014712,0.014712,0.014712,0.014712,0.014712,0.014712,...,-0.00321,0.0,-1.151287,-0.105837,-1.165737,-0.105657,-0.028724,-0.45347,-0.45347,-0.788655
4,2.620509,2.620509,0.166931,0.166931,0.014712,0.014712,0.014712,0.014712,0.014712,0.014712,...,-0.00321,0.0,-1.151287,-0.105837,-1.165737,-0.105657,-0.028724,-0.45347,-0.45347,-0.788655

In [14]:
# dataframe normalised range 0_1

NX3df = pd.DataFrame(scaled0_1, columns= Xselected.columns)
NX3df.head()

,5,6,8,9,14,15,16,18,20,26,...,133,138,140,141,142,143,144,145,146,154
0,0.000064,0.000064,0.009150,0.009150,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000012,0.000012,0.000000,0.000000,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.036308,0.036308,0.070588,0.070588,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.005238,0.005238,0.094771,0.094771,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.035887,0.035887,0.070588,0.070588,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score


from sklearn.ensemble import ExtraTreesClassifier




num_folds = 10
seed = 7
kfolds = KFold(n_splits=num_folds, random_state=seed)
model = ExtraTreesClassifier()
results = cross_val_score(model, NX3df, Y, cv=kfolds)
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))

C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Accuracy: 98.618% (3.494%)

In [ ]:
print(model.feature_importances_)

In [ ]:
#top 20 features
sorted((importance, col) for (col, importance) in enumerate(model.feature_importances_))[-20:]

In [20]:
#top 10 feature selection using selectkbest and chi2 on the scaled 0_1 dataset
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2


selection = SelectKBest(score_func = chi2, k=10)

features = selection.fit(NX3df,Y)
reducedX= features.transform(NX3df)

[[0.0091503 0.0091503 0.88679   0.        1.        0.30769   0.5
  1.        0.94628   0.       ]
 [0.        0.        0.43396   0.        1.        1.        0.
  0.        0.        0.       ]
 [0.070588  0.070588  0.        1.        0.        0.61538   0.
  0.        0.25543   0.       ]
 [0.094771  0.094771  0.        1.        0.        0.61538   0.
  0.        0.072772  0.       ]
 [0.070588  0.070588  0.        1.        0.        0.61538   0.
  0.        0.2569    0.       ]]

In [26]:
cols = Xselected.columns[selection.get_support()]
reduceddf = pd.DataFrame(reducedX, columns = cols)

In [24]:
reduceddf.head()

          8         9       47   50   51       67   68   71        82  154
0  0.009150  0.009150  0.88679  0.0  1.0  0.30769  0.5  1.0  0.946280  0.0
1  0.000000  0.000000  0.43396  0.0  1.0  1.00000  0.0  0.0  0.000000  0.0
2  0.070588  0.070588  0.00000  1.0  0.0  0.61538  0.0  0.0  0.255430  0.0
3  0.094771  0.094771  0.00000  1.0  0.0  0.61538  0.0  0.0  0.072772  0.0
4  0.070588  0.070588  0.00000  1.0  0.0  0.61538  0.0  0.0  0.256900  0.0

In [25]:
num_folds = 10
seed = 7
kfold = KFold(n_splits=num_folds, random_state=seed)
model = ExtraTreesClassifier()
results = cross_val_score(model, reduceddf, Y, cv=kfold)
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))

C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Accuracy: 98.832% (2.267%)

In [31]:
#top 10 feature selection using selectkbest and chi2 on the norm1 dataset

selection2= SelectKBest(score_func = chi2, k=10)
features2 = selection2.fit(NX2df,Y)
cols2 = NX2df.columns[selection2.get_support()]
nxminus=NX2df.loc[:, cols2]

In [32]:
nxminus.head()

,8,9,47,50,51,67,68,71,73,154
0,0.002125,0.002125,0.205949,0.000000,0.23224,0.071458,0.11612,0.23224,0.0,0.0
1,0.000000,0.000000,0.109462,0.000000,0.25224,0.252240,0.00000,0.00000,0.0,0.0
2,0.016454,0.016454,0.000000,0.233105,0.00000,0.143448,0.00000,0.00000,0.0,0.0
3,0.021168,0.021168,0.000000,0.223356,0.00000,0.137449,0.00000,0.00000,0.0,0.0
4,0.016439,0.016439,0.000000,0.232884,0.00000,0.143312,0.00000,0.00000,0.0,0.0

In [35]:
results = cross_val_score(model, nxminus, Y, cv=kfold)
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))

C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\amatu\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Accuracy: 94.351% (6.801%)